* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #343541;
	overflow-x: hidden;
}
#exampleModalToggleLabel1,
#exampleModalToggleLabel2,
#exampleModalToggleLabel3 {
	margin-top: 50px !important;
}
.modal-content {
	background-color: #202123 !important;
}
.modalBodyP {
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
	padding: 3px;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	background-color: #2b2c2e;
}

.modalP {
	background-color: #2b2c2e;
	font-size: 0.8rem;
}
.btn {
	color: #fff;
}

.btnNext,
.btnBack {
	background-color: #343541;
	color: #fff !important;
}
.btnLast {
	background-color: #10a67f;
}
.modal-footer {
	border-top: 0px !important;
}
/********** MAIN ************/
.mainContainer {
	padding: 0;
}

/********** LEFT ********/
.left {
	padding: 0;
	position: fixed;
}

.navbarLg {
	background-color: #202123;
	height: 100vh !important;
}

nav {
	background-color: #343541;
	height: 5vh !important;
}

input[type="search"] {
	background: transparent !important;
	color: #fff !important;
}

input[type="text"] {
	background-color: #40404f;
	color: gray !important;
	outline: none !important;
	border: none !important;
}

.form-check-input {
	background-color: #00b09b;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}
.form-check-input:checked {
	background-color: #96c93d;
}

/******** RIGHT **********/

.right {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 {
	margin-top: 15vh;
}

.grid {
	width: 80%;
}

.grid p {
	background-color: #3e3f4b;
	border-radius: 5px;
	padding: 6px 8px;
	font-size: 0.9rem;
}

.textBottom {
	font-size: 0.7rem !important;
}

.containerNav {
	position: absolute;
	background-color: #343541;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	border-bottom: 0.5px solid #fff;
}

.btn-toggler {
	background-color: transparent;
	color: #fff !important;
	border: transparent !important;
}

.btn-toggler:focus {
	outline: none !important;
	border: 0px solid transparent !important;
}
.test {
	display: flex !important;
	align-items: center !important;
}

.button:focus {
	outline: none !important;
}
.button:active {
	outline: none !important;
}

.bi-plus-lg,
.bi-list,
.bi-x {
	font-size: 1.5rem;
	color: #fff !important;
}

.bi-plus-lg {
	position: relative;
	right: 2rem;
}
.offcanvas {
	background-color: #202123 !important;
}

.btn-close-offcanvas {
	position: absolute !important;
	right: -5vw;
	top: 1vh;
	border: 1px solid #fff;
	background-color: #343541 !important;
}
.navbarResponsive {
	height: 95vh !important;
}
img {
	width: 30px;
	height: 30px;
	margin-right: 1rem;
}

textarea {
	display: flex;
	align-items: center;
	width: 90%;
	background-color: #40414f;
	border: none;
	border-radius: 5px;
	resize: none;
	color: #fff;
}
textarea:focus {
	outline: none;
}
#btnTextarea {
	background-color: transparent;
	border: none;
	height: 70%;
	margin: auto 0;
	padding: 0.3rem;
}
#btnTextarea:hover {
	background: linear-gradient(to right, #00b09b, #96c93d) !important ;
}
.bi-send {
	color: #fff;
	background-color: transparent;
}
.questionTextarea {
	background-color: #40414f;
	margin-top: 10rem;
}

.contentQuestion {
	display: flex;
	align-items: end;
	padding-bottom: 1rem;
	width: 100vw;
	margin-left: -0.5rem;
	height: 15vh;
	color: black;
	padding-left: 25%;
}

.bi-moon:hover,
.bi-discord:hover,
.bi-box-arrow-up-right:hover,
.bi-box-arrow-right:hover {
	color: #96c93d;
}

.box,
.boxResponse {
	display: flex;
	align-items: end;
	width: 100%;
	height: 10vh;
	padding-left: 5rem;
}
.box {
}

.boxResponse {
	background: #444654;
	color: #fefe;
}
